/.HA_VERSION
/.cloud
/.storage
/custom_components
/deps
/home-assistant.log
/home-assistant.log.1
/home-assistant.log.fault
/home-assistant_v2.db
/image
/ip_adresses.txt
/automations.yaml
/customize.yaml
/scenes.yaml
/scripts.yaml
/secrets.yaml
/themes
/tts
/www
/xiaomi_tokens.txt
/zigbee.db
/zigbee2mqtt
/Jackett
/watchman_report.txt