# Базовые настройки. Не удалять!
default_config:

# Подгружаем темы
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/ha-yandex-icons/yandex-icons.js
    - /hacsfiles/hass-hue-icons/hass-hue-icons.js

homeassistant:
  name: Квартира 133
  latitude: !secret latitude_coord
  longitude: !secret longitude_coord
  elevation: !secret elevation
  unit_system: metric
  country: !secret country
  time_zone: !secret time_zone
  # Используем пакеты для определенных групп
  packages: !include_dir_named packages

# Разносим по папкам
recorder: !include includes/recorder.yaml

# Уровень логирования - только ошибки
logger:
  default: error
  logs:
    homeassistant.components.mqtt: error
    homeassistant.components.automation: error
    homeassistant.components.telegram_bot: error
    homeassistant.components.notify: error
    homeassistant.components.sql: info
# # Для мониторинга
# influxdb:
#   host: !secret influxdb_host
#   port: !secret influxdb_port
#   database: !secret influxdb_database
#   username: !secret influxdb_username
#   password: !secret influxdb_password
#   max_retries: 3
#   default_measurement: state
#   tags_attributes:
#     - friendly_name
#   include:
#     entities:
#       - media_player.denon_avr_x1700h
