# Use this file to store secrets like usernames and passwords.
# Learn more at https://www.home-assistant.io/docs/configuration/secrets/
some_password: welcome
latitude_coord: 00.00000
longitude_coord: 00.00000
elevation: 0
country: BY
time_zone: Europe/Minsk

## MARIA DB
db_link: mysql://login:pass@IP/DB_name?charset=utf8mb4

## MQTT
mqtt_user: mqtt user
mqtt_pass: mqtt password

## TELEGRAM BOT
api_key_bot: telegram bot token from Bot Father
chat_id_user_1: telegram id
chat_id_user_2: telegram id
chat_id_group_1: telegram group id
telegram_allowed_users_list: "allowed bot user ("telegram id,telegram id")"

## DATAPLICITY
dataplicity_link: your_dataplicity_link

## PROXMOX
proxmox_host: ip adress
proxmox_port: port
proxmox_username: username
proxmox_password: password

## BATHROOM SPOTS
bathroom_spot_r1_ip: ip adress
bathroom_spot_r1_token: xiaomi token

bathroom_spot_r2_ip: ip adress
bathroom_spot_r2_token: xiaomi token

bathroom_spot_l1_ip: ip adress
bathroom_spot_l1_token: xiaomi token

bathroom_spot_c1_ip: ip adress
bathroom_spot_c1_token: xiaomi token

bathroom_spot_c2_ip: ip adress
bathroom_spot_c2_token: xiaomi token

# InfuxDB
influxdb_host: host
influxdb_port: port
influxdb_database: database name
influxdb_username: user
influxdb_password: password
